@media screen and (max-width: 786px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar__buttons-container {
    width: 30%;
  }
  .navbar__buttons-select {
    height: 100%;
  }
  .navbar__toggle-button {
    visibility: visible;
  }
  .navbar__buttons-select {
    position: absolute;
    top: 0;
    left: -1000px;
    width: 50%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    transition: 1s;

    background-color: var(--main-background-color);
  }
  .navbar__links {
    position: absolute;
    top: 0;
    left: -1000px;
    width: 50%;

    display: flex;
    flex-direction: column;
    transition: 1s;

    background-color: var(--primary-color);
  }

  .navbar__links--active {
    left: 0;
  }
  .navbar__links:visited {
    color: var(--text-color);
  }

  .navbar__toggle-button {
    visibility: visible;
  }
  .carousel {
    width: 70%;
  }
  .component__showcase {
    width: 100%;
  }

  .card-image {
    width: 100%;
  }

  .modal-container {
    width: 20rem;
    height: 10rem;
  }
}

@media screen and (max-width: 619px) {
  .component__showcase {
    /* text-align: center; */
    padding: var(--spacing-small);
  }

  .showcase__navbar {
    width: 20rem;
    height: 10rem;

    font-size: var(--font-size-base);
  }
  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .navbar__links {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .component__showcase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .showcase__navbar {
    width: 7rem;
    height: 15rem;

    font-size: var(--font-size-base);
  }
  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;
  }
  .navbar__button {
    font-size: var(--font-size-base);
  }
  .carousel {
    width: 100%;
  }
  .card {
    width: 50%;
    height: 30%;
  }
  .card p {
    font-size: var(--font-size-base);
  }

  .modal-container {
    width: 15rem;
    height: 7rem;
  }

  .modal-container p {
    font-size: var(--font-size-base);
  }
  .alert__button {
    width: 50%;
  }
}

@media screen and (max-width: 390px) {
  /* .navbar__button {
    font-size: var(--font-size-small);
  } */
}

@media screen and (max-width: 350px) {
  /* .card-image {
    height: 50%;
  } */
  .created-button {
    width: 10rem;
  }

  .form {
    height: 100%;
  }

  .form__feedback {
    width: 100%;
    text-align: center;
    line-break: normal;
  }

  .media__image {
    height: 12rem;
    width: 12rem;
  }

  .audio-player {
    width: 12rem;
  }

  .media__button-container {
    flex-direction: column;
    padding-top: var(--spacing-small);
    gap: var(--spacing-medium);
  }
}
