.component__showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: 2px solid black;
  width: 80%;
  height: 100vh;
  position: relative;
}
/* Navbar------------------------------- */
.showcase__navbar {
  padding: 1rem;
  height: 5rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid black;
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);
}

.showcase__navbar a {
  color: var(--font-color2);
}

.showcase__navbar a:hover {
  color: var(--font-color1);
}

.navbar__links {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.component__1:hover {
  scale: 1.1;
}

.component__2 {
  font-size: 1.3rem;
}

/* Carousel------------------------------- */

.carousel {
  height: 80%;
  width: 50%;
  position: relative;
}
.carousel-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-background-color-2);
  color: white;

  padding: 0.5rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  font-size: large;
}
.carousel-button:hover {
  background-color: var(--button-background-color-hover);
  cursor: pointer;
  scale: 1.1;
}
.carousel-button:active {
  background-color: var(--button-background-color-hover);
}
.carousel-button--next {
  right: 1rem;
}

.carousel-button--prev {
  left: 1rem;
}
.carousel-image {
  height: 100%;
  width: 100%;
  position: absolute;
  /* inset: 0; */
  opacity: 0;
  border-radius: var(--border-radius);
}

.carousel-image[data-active] {
  opacity: 1;
}

/* Card------------------------------- */
.card {
  height: 60%;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: 2px solid black;
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);

  background-color: var(--secondary-background-color);
  font-size: var(--font-size-medium);
  text-align: center;
}

.card:hover {
  scale: 1.1;
  box-shadow: 10px 10px 20px black;
}

.card-image {
  height: 70%;
  width: 65%;
  border-radius: var(--border-radius);
}

/* Button------------------------------- */
.created-button {
  border: 1px dotted black;
  border-radius: var(--border-radius);
  height: 6rem;
  width: 18rem;

  font-size: 1rem;
  background-color: var(--button-background-color-2);
}
.created-button:hover {
  cursor: pointer;
}

/* Form------------------------------- */
.form {
  border: 2px solid black;
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);
  height: 90%;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  padding: 1rem;
}

.form-elements__container {
  display: flex;
  flex-direction: column;

  width: 100%;

  border-bottom: 1px dotted black;
}

.form__submit-button {
  cursor: pointer;
  height: 2rem;
  width: 4rem;

  border: none;
  border-radius: var(--border-radius);
  background-color: var(--main-background-color);
  color: var(--font-color1);
  font-size: var(--font-size-base);
}

.form__submit-button:hover {
  opacity: 0.7;
}

.form__feedback {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
  border: 2px dotted black;
  border-radius: var(--border-radius);
}
/* Media------------------------------- */
.media-container {
  height: 80%;
  /* width: 60%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.media__image {
  height: 18rem;
  width: 16rem;
}

.media-container__audio {
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.audio-player {
  min-width: 4rem;
  width: 100%;
}

.media__button-container {
  display: flex;
  gap: var(--spacing-medium);
}

.media__button-container button {
  height: 2rem;
  width: 8rem;
  border-radius: var(--border-radius-large);
  border: none;
  background-color: var(--main-background-color);
  color: var(--font-color1);
  cursor: pointer;
}

.media__button-container button:hover {
  box-shadow: 2px 2px 10px black;
  opacity: 0.9;
}

/* Modal------------------------------- */
.modal-container {
  z-index: 1;
  border-radius: var(--border-radius);
  height: 20rem;
  width: 40rem;

  box-shadow: 10px 10px 20px black;
  visibility: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-container p {
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  width: 100%;
  height: 85%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: var(--font-size-medium);
  color: var(--font-color1);
}

.modal-container button {
  border: none;
  height: 15%;
  width: 2rem;

  font-size: var(--font-size-base);
  color: var(--main-background-color);
  cursor: pointer;
}

.modal-container button:hover {
  background-color: var(--button-background-color-hover);
  opacity: 0.5;
  color: var(--component-hover-color);
}

.modal__open-button {
  background-color: var(--main-background-color);
  color: var(--font-color1);
  border: none;
  border-radius: var(--border-radius);

  height: 4rem;
  width: 12rem;
  cursor: pointer;
}

.modal__open-button:hover {
  opacity: 0.7;
}

/* Alert------------------------------- */
.alert__button {
  height: 10%;
  width: 30%;

  border-radius: var(--border-radius-large);
  border: none;
  background-color: var(--main-background-color);
  color: var(--font-color1);

  cursor: pointer;
}

.alert__button:hover {
  opacity: 0.7;
}
