:root {
  /* Colors */
  --main-background-color: #2164c9;
  --secondary-background-color: #d2d1d1;
  --font-color1: white;
  --font-color2: black;

  --button-background-color-2: rgba(0, 0, 0, 0.1);
  --button-background-color-hover: rgba(0, 0, 0, 0.5);

  /* font-size */
  --font-size-base: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 1.5rem;

  /* Spacing */
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;

  /* Border-radius */
  --border-radius-large: 50px;
  --border-radius: 10px;
}
